---
import { Image } from '@astrojs/image/components';
import type { ImageMetadata } from '@astrojs/image/dist/vite-plugin-astro-image';
import iconGithub from '../assets/icons/github-black.svg';

const tagColors = {
  fullstack: 'text-[#fc69ff] border-[#fc69ff]',
  nodejs: 'text-[#2CE58C] border-[#2CE58C]',
  typescript: 'text-[#2194FE] border-[#2194FE]',
  react: 'text-[#A020F0] border-[#A020F0]',
  'react-native': 'text-[#A020F0] border-[#A020F0]',
  tailwind: 'text-[#3ADBFE] border-[#3ADBFE]',
  aws: 'text-[#E9C60F] border-[#E9C60F]',
  firebase: 'text-[#e9780f] border-[#e9780f]',
  supabase: 'text-[#1fcc5b] border-[#1fcc5b]',
  threejs: 'text-[#FF99BE] border-[#FF99BE]',
  c: 'text-[#e7d943] border-[#e7d943]',
  bash: 'text-[#000] border-[#000]',
  latex: 'text-[#1eb426] border-[#1eb426]',
  gm2: 'text-[#68d951] border-[#68d951]',
  python: 'text-[#d23ce3] border-[#d23ce3]',
};

type Tag = keyof typeof tagColors;

export type ProjectType = {
  title: string;
  description: string;
  tags: Tag[]; // todo: enumerate
  previews?: ImageMetadata[]; // todo: list of images to display
  code?: string;
  demo?: string;
};

type Props = ProjectType;

const { title, description, tags, previews, code, demo }: Props = Astro.props;
---

<div class="flex flex-col gap-2 py-10">
  <h3 class="text-4xl font-bold">{title}</h3>

  <!-- tags -->
  <ul class="flex flex-wrap gap-3">
    {
      tags.map((tag) => {
        return <li class={`rounded-xl border-2 px-5 text-sm ${tagColors[tag]}`}>{`#${tag}`}</li>;
      })
    }
  </ul>

  <!-- images -->
  {
    previews && (
      <div class="my-3 flex w-auto overflow-x-scroll">
        {previews.map((preview) => {
          return <Image src={preview} alt="" fit="contain" format="webp" class="h-40 w-fit" />;
        })}
      </div>
    )
  }

  <!-- view or demo -->
  <div class="flex flex-wrap gap-3">
    {
      code && (
        <a
          href={code}
          target="_blank"
          class="flex items-center gap-3 rounded-2xl border-2 p-3 py-1"
        >
          <p class="text-lg font-bold">View Code</p>
          <img class="w-8" src={iconGithub} alt="Github icon" />
        </a>
      )
    }
    {
      demo && (
        <a
          href={demo}
          target="_blank"
          class="border-accent flex items-center gap-3 rounded-2xl border-2 p-3 py-1"
        >
          <p class="text-accent text-lg font-bold">View Demo</p>
        </a>
      )
    }
  </div>

  <!-- description -->
  <p class="text-lg text-gray">{description}</p>
</div>
